# 1. Setup

## 1.1 Setup working environment

In [1]:
#to use elmo
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [2]:
import tensorflow as tf
import torch
print(tf.__version__)

1.15.2

In [3]:
# Get the GPU device name.
device_name = tf.test.gpu_device_name()

# The device name should look like the following:
if device_name == '/device:GPU:0':
    print('Found GPU at: {}'.format(device_name))
else:
    raise SystemError('GPU device not found')

Found GPU at: /device:GPU:0

In [4]:
# If there's a GPU available...
if torch.cuda.is_available():    

    # Tell PyTorch to use the GPU.    
    device = torch.device("cuda")

    print('There are %d GPU(s) available.' % torch.cuda.device_count())

    print('We will use the GPU:', torch.cuda.get_device_name(0))

# If not...
else:
    print('No GPU available, using the CPU instead.')
    device = torch.device("cpu")

There are 1 GPU(s) available.
We will use the GPU: Tesla T4

In [5]:
!pip install transformers

Collecting transformers
  Downloading https://files.pythonhosted.org/packages/d8/b2/57495b5309f09fa501866e225c84532d1fd89536ea62406b2181933fb418/transformers-4.5.1-py3-none-any.whl (2.1MB)
     |████████████████████████████████| 2.1MB 17.6MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (20.9)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/75/ee/67241dc87f266093c533a2d4d3d69438e57d7a90abb216fa076e7d475d4a/sacremoses-0.0.45-py3-none-any.whl (895kB)
     |████████████████████████████████| 901kB 60.3MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Collecting tokenizers<0.11,>=0.10.1
  Downloading https://files.pythonhosted.org/packages/ae/04/5b870f26a858552025a62f1649c20d29d2672c02ff3c3fb4c688ca46467a/tokenizers-0.10.2-cp37-cp37m-manylinux2010_x86_64.whl (3.3MB)
     |████████████████████████████████| 3.3MB 54.7MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers) (3.10.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Installing collected packages: sacremoses, tokenizers, transformers
Successfully installed sacremoses-0.0.45 tokenizers-0.10.2 transformers-4.5.1

## 1.2 Clean raw data

In [6]:
import pandas as pd

In [7]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
TRAIN_RAW = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/train/lcp_single_train.tsv"
TEST_RAW = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/test-labels/lcp_single_test.tsv"
TRAIN = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/train/lcp_single_train_cleaned.tsv"
TEST = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/test-labels/lcp_single_test_cleaned.tsv"

In [9]:
# read the datasets
# train
with open(TRAIN_RAW, 'r') as f:
  data = f.read()

# need to remove " from the string, otherwise parsing will have problems because some quotas are not closed 
data = data.replace('"', '')

with open(TRAIN, 'w') as f:
  f.write(data)

df = pd.read_csv(TRAIN, sep='\t')

# test
with open(TEST_RAW, 'r') as f:
  data = f.read()

data = data.replace('"', '')

with open(TEST, 'w') as f:
  f.write(data)

test = pd.read_csv(TEST, sep='\t')

In [10]:
# take a look
pd.set_option('display.max_colwidth', None) # show the whole sentence
df.head()

                               id corpus  ...     token complexity
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...     river   0.000000
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  brothers   0.000000
2  3S1WOPCJFGTJU2SGNAN2Y213N6WJE3  bible  ...  brothers   0.050000
3  3BFNCI9LYKQN09BHXHH9CLSX5KP738  bible  ...  brothers   0.150000
4  3G5RUKN2EC3YIWSKUXZ8ZVH95R49N2  bible  ...  brothers   0.263889

[5 rows x 5 columns]

In [11]:
test.head()

                               id corpus  ...     token complexity
0  3K8CQCU3KE19US5SN890DFPK3SANWR  bible  ...      hand   0.000000
1  3Q2T3FD0ON86LCI41NJYV3PN0BW3MV  bible  ...      hand   0.197368
2  3ULIZ0H1VA5C32JJMKOTQ8Z4GUS51B  bible  ...      hand   0.200000
3  3BFF0DJK8XCEIOT30ZLBPPSRMZQTSD  bible  ...      hand   0.267857
4  3QREJ3J433XSBS8QMHAICCR0BQ1LKR  bible  ...  entrance   0.000000

[5 rows x 5 columns]

## 1.3 Preprocess cleaned data

In [12]:
import torchtext.vocab

In [13]:
# use the Glove 6B 100d
cache_dir = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/data"
# glove = vocab.pretrained_aliases["glove.6B.100d"](cache=cache_dir)
glove = torchtext.vocab.GloVe(name='6B', dim=100, cache=cache_dir)

In [14]:
# get all the non-unique tokens for prediction
tokens = df['token'].dropna().to_list()
tokens = [token.lower() for token in tokens] # lowercase
print(len(tokens))

# check if all tokens are in Glove
for token in tokens:
  if token not in glove.stoi:
    print("Token Not Found:", token)

7659
Token Not Found: perverseness
Token Not Found: perverseness
Token Not Found: perverseness
Token Not Found: housetops
Token Not Found: slanderers
Token Not Found: plowmen
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dunghill
Token Not Found: carotids
Token Not Found: tace

### 1.3.1 Create word frequency & word length features for each token

In [15]:
import string
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from collections import Counter

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [16]:
# create a dataframe for handcrafted features: word length & word frequency
train_df = pd.DataFrame(tokens, columns =['token'])

# add back complexity
train_df['complexity'] = df['complexity']

# word length
train_df['word_length'] = train_df['token'].map(lambda x: len(x))

# punctuations
punc = string.punctuation

# stop words
stop_words = set(stopwords.words('english')) 

# word frequency
# tokenize the whole curpus
temp = df['sentence'].to_list()
texts = []
for sent in temp:
  sent = sent.lower()
  sent = ''.join([c for c in sent if c not in punc])
  words = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
  texts += words
# count frequency
count = Counter(texts)
train_df['word_frequency'] = train_df['token'].map(lambda x: count[x])

train_df.head()

      token  complexity  word_length  word_frequency
0     river    0.000000            5              26
1  brothers    0.000000            8              36
2  brothers    0.050000            8              36
3  brothers    0.150000            8              36
4  brothers    0.263889            8              36

The `texts` variable is created from combining all the tokens from every corpus in the training data, which is what we used to calculate `word_frequency` feature. **However**, the sentence shown in each row is only a part of the whole corpus; therefore, `word_frequency` is not a reliable feature to be used.

In [21]:
len(texts)

107823

### 1.3.2 Create `word_frequency` from real text

#### [Bible WEB](https://github.com/scrollmapper/bible_databases/tree/master/txt/WEB)

In [17]:
biblePath = r"/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/bibleWEB"

In [18]:
import os
from os.path import isfile, join
from os import listdir
bibleList = sorted([f for f in listdir(biblePath) if isfile(join(biblePath, f))])

In [19]:
bibleList[0]

'1 Genesis - World English Bible (WEB).txt'

In [20]:
f = open(os.path.join(biblePath, bibleList[0]), 'r')
text = f.read().lower()

In [21]:
def bible_tokenizer(chapter: string):
  punc = string.punctuation
  stop_words = set(stopwords.words('english')) 
  sents = []
  for s in chapter.lower().split('\n'):
    sent = ''.join([c for c in s if c not in punc])
    words = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
    sents += words
  return sents

#### Bible word counter

In [22]:
bible_tokens = []
for chapter in bibleList:
  text = open(os.path.join(biblePath, bibleList[0]), 'r')
  tokenized_chapter = bible_tokenizer(text.read())
  bible_tokens += tokenized_chapter

bible_counter = Counter(bible_tokens)

### 1.3.3 ELMo features

In [17]:
import tensorflow_hub as hub
import tensorflow as tf

In [18]:
tf.__version__

'1.15.2'

In [19]:
elmo = hub.Module("https://tfhub.dev/google/elmo/3", trainable=True)

In [20]:
test_sent = df.head(1).values[0, 2]
test_word = df.head(1).values[0, 3]
print('Sentence:', test_sent, '\n', 'Word:', test_word)

Sentence: Behold, there came up out of the river seven cattle, sleek and fat, and they fed in the marsh grass.
 Word: river

In [21]:
test_sent2 = df.head(2).values[1, 2]
test_word2 = df.head(2).values[1, 3]
print('Sentence:', test_sent2, '\n', 'Word:', test_word2)
df.head(2)

Sentence: I am a fellow bondservant with you and with your brothers, the prophets, and with those who keep the words of this book.
 Word: brothers

                               id corpus  ...     token complexity
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...     river        0.0
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  brothers        0.0

[2 rows x 5 columns]

In [77]:
def tokenizer(sent):
  punc = string.punctuation
  s = ''.join([c for c in sent.lower() if c not in punc])
  words = [word for word in s.split(' ') if (word.isalpha() and word not in stop_words)]
  return words

In [156]:
def find_index(s, word):
  word = word.lower()
  if (word in s):
    return s.index(word)

  
  for w in range(len(s)):
    if (word in s[w]):
      return w
  return -1

In [70]:
 def list_index(sent, word):
  punc = string.punctuation
  s = ''.join([c for c in sent.lower() if c not in punc])
  return s.split(' ').index(word.lower())

In [100]:
test_index = list_index(test_sent, test_word)
print(test_index)
print(tokenizer(test_sent))

7
['behold', 'came', 'river', 'seven', 'cattle', 'sleek', 'fat', 'fed', 'marsh', 'grass']

In [126]:
test_index2 = tokenizer(test_sent2).index(test_word2)
print(test_index2)
print(tokenizer(test_sent2))
tokenized_test_sent2 = tokenizer(test_sent2) + [""]*3
print(tokenized_test_sent2)

2
['fellow', 'bondservant', 'brothers', 'prophets', 'keep', 'words', 'book']
['fellow', 'bondservant', 'brothers', 'prophets', 'keep', 'words', 'book', '', '', '']

In [128]:
test_embedding = elmo({"tokens": [tokenizer(test_sent), tokenized_test_sent2], "sequence_len": [10, 7]}, signature='tokens', as_dict=True)['elmo']
print('Run session...')
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    sess.run(tf.tables_initializer())
    # return average of ELMo features
    test_vectors = sess.run(test_embedding)

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...

In [ ]:
# def compute_elmo_tokens(tokens, sequence_len):
#   embedding = elmo({"tokens": tokens, "sequence_len": sequence_len}, signature='tokens', as_dict=True)['elmo']
#   print('Run session...')
#   with tf.Session() as sess:
#       sess.run(tf.global_variables_initializer())
#       sess.run(tf.tables_initializer())
#       # return average of ELMo features
#       vectors = sess.run(embedding)
#   return vectors

In [24]:
#extract elmo vectors
def elmo_vectors_word(x: string):
  embeddings = elmo([x], signature='default', as_dict=True)["elmo"]

  with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    sess.run(tf.tables_initializer())
    # return average of ELMo features
    return sess.run(embeddings)

In [54]:
test_elmo = elmo_vectors_word(test_sent, 'default')
test_elmo[0, test_index]

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

In [157]:
def clean_for_elmo(sents, words):
  raw_tokens = []
  sequence_len = []
  index_tokens = []
  for i in range(len(sents)):
    tokenized = tokenizer(sents[i]) #return as str[]
    raw_tokens += [tokenized]

    sequence_len.append(len(tokenized))
    index = find_index(tokenized, words[i])
    if (index == -1):
      print('-------------')
      print(i)
      print(sents[i])
      print(tokenized)
      print(words[i])
      print('COULD NOT FIND WORD!!')
    index_tokens.append(index)


  max_len = max(sequence_len)
  tokens = []
  for t in raw_tokens:
    if (len(t) < max_len):
      dif = max_len-len(t)
      tokens += [t + [""]*(dif)]
    else:
      tokens += [t]
  return tokens, sequence_len, index_tokens

In [51]:
bible_df = df[df['corpus'] == 'bible']

In [147]:
bible_df.shape

(2574, 5)

In [160]:
#compute only the first half first for lower computing time
bible_sents = bible_df.iloc[:800]['sentence'].tolist()
bible_words = bible_df.iloc[:800]['token'].tolist()

In [161]:
tokens_elmo, seq_len_elmo, index_token = clean_for_elmo(bible_sents, bible_words)

In [162]:
elmo_vectors_first = compute_elmo_tokens(tokens_elmo, seq_len_elmo)

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...

In [267]:
def compute_elmo(batch_size=800):
  elmo_vectors = []
  index_all_token = []
  bible_sents = bible_df.iloc[:batch_size]['sentence'].tolist()
  bible_words = bible_df.iloc[:batch_size]['token'].tolist()
  new_batch_size = batch_size
  while (new_batch_size < bible_df.shape[0]):
    tokens_elmo, seq_len_elmo, index_token = clean_for_elmo(bible_sents, bible_words)
    elmo_vectors_batch = compute_elmo_tokens(tokens_elmo, seq_len_elmo)
    elmo_vectors.append(elmo_vectors_batch)
    index_all_token.append(index_token)
    old_batch_size = new_batch_size
    print(old_batch_size)
    new_batch_size += batch_size
    bible_sents = bible_df.iloc[old_batch_size:new_batch_size]['sentence'].tolist()
    bible_words = bible_df.iloc[old_batch_size:new_batch_size]['token'].tolist()

# disregard the rest 174

  # bible_sents = bible_df.iloc[old_batch_size:]['sentence'].tolist()
  # bible_words = bible_df.iloc[old_batch_size:]['token'].tolist()
  # tokens_elmo, seq_len_elmo, index_token = clean_for_elmo(bible_sents, bible_words)
  # elmo_vectors_batch = compute_elmo_tokens(tokens_elmo, seq_len_elmo)
  # elmo_vectors.append(elmo_vectors_batch)
  # index_all_token.append(index_token)

  return elmo_vectors, index_all_token

In [268]:
elmo_vectors, index_token = compute_elmo()

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
800
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1600
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
2400

In [269]:
print(len(elmo_vectors))
print(len(index_token))

3
3

#### ELMO word embedding

In [270]:
elmo_embedded_word = []
for j in range(len(elmo_vectors)):
  for i in range(len(elmo_vectors[j])):
      elmo_embedded_word.append(elmo_vectors_first[i, index_token[j][i]])

#2. Train models

## 2.1 Linear regression with new `word_frequency`

### Bible text

In [ ]:
bible_df = df[df['corpus'] == 'bible']
print(bible_df.shape)

(2574, 5)

In [ ]:
bible_df.head()

                               id corpus  ...     token complexity
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...     river   0.000000
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  brothers   0.000000
2  3S1WOPCJFGTJU2SGNAN2Y213N6WJE3  bible  ...  brothers   0.050000
3  3BFNCI9LYKQN09BHXHH9CLSX5KP738  bible  ...  brothers   0.150000
4  3G5RUKN2EC3YIWSKUXZ8ZVH95R49N2  bible  ...  brothers   0.263889

[5 rows x 5 columns]

In [ ]:
# get all the non-unique tokens for prediction
tokens = df[df['corpus'] == 'bible']['token'].dropna().to_list()
tokens = [token.lower() for token in tokens] # lowercase

# create a dataframe for handcrafted features: word length & word frequency
bible_train_df = pd.DataFrame(tokens, columns =['token'])

# add back complexity
bible_train_df['complexity'] = df['complexity']

# word length & word frequency
bible_train_df['word_length'] = bible_train_df['token'].map(lambda x: len(x))
bible_train_df['word_frequency'] = bible_train_df['token'].map(lambda x: bible_counter[x])

In [ ]:
bible_train_df.head()

      token  complexity  word_length  word_frequency
0     river    0.000000            5            1056
1  brothers    0.000000            8            5346
2  brothers    0.050000            8            5346
3  brothers    0.150000            8            5346
4  brothers    0.263889            8            5346

### create weight matrix

In [ ]:
import numpy as np

In [ ]:
def create_weights_matrix(vocab, dimension=100):
  """ create a matrix containing vectors for each word in Glove """
  matrix_len = len(vocab)
  weights_matrix = np.zeros((matrix_len, dimension))

  for i, word in enumerate(vocab):
      try: 
          weights_matrix[i] = glove[word]
      except KeyError:
          weights_matrix[i] = np.random.normal(scale=0.6, size=(emb_dim, )) # initialize a random vector
  #return torch.from_numpy(weights_matrix) # a tensor
  return weights_matrix

In [ ]:
# create the weight matrix
weight_matrix = create_weights_matrix(tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)

train_df_combined = pd.concat([bible_train_df, weight_matrix_df], axis=1)
train_df_combined.head()

(2574, 100)

      token  complexity  word_length  ...       97        98       99
0     river    0.000000            5  ... -0.69940  1.050600  0.24051
1  brothers    0.000000            8  ... -0.24623  0.006483 -0.21982
2  brothers    0.050000            8  ... -0.24623  0.006483 -0.21982
3  brothers    0.150000            8  ... -0.24623  0.006483 -0.21982
4  brothers    0.263889            8  ... -0.24623  0.006483 -0.21982

[5 rows x 104 columns]

### train model

In [140]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import StratifiedKFold

In [ ]:
# get data for training
X_train = train_df_combined.drop(columns=['token', 'complexity'])
Y_train = train_df_combined['complexity']

In [ ]:
# train linear regression
lr = LinearRegression().fit(X_train, Y_train)

In [ ]:
# predict
Y_pred = lr.predict(X_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.06970450197025566

### test

In [ ]:
# on test
test_tokens = test[test['corpus']=='bible']['token'].dropna().to_list()
test_tokens = [token.lower() for token in test_tokens] # lowercase
print(len(test_tokens))

# create a dataframe for linear regression
test_df = pd.DataFrame(test_tokens, columns =['token'])

test_df['complexity'] = test['complexity']

# word length
test_df['word_length'] = test_df['token'].map(lambda x: len(x))
test_df['word_frequency'] = test_df['token'].map(lambda x: bible_counter[x])

283

In [ ]:
test_df.head()

      token  complexity  word_length  word_frequency
0      hand    0.000000            4            5940
1      hand    0.197368            4            5940
2      hand    0.200000            4            5940
3      hand    0.267857            4            5940
4  entrance    0.000000            8               0

In [ ]:
# create the weight matrix
weight_matrix = create_weights_matrix(test_tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)
test_df_combined = pd.concat([test_df, weight_matrix_df], axis=1)
test_df_combined.head()

(283, 100)

      token  complexity  word_length  ...        97       98        99
0      hand    0.000000            4  ... -0.230930  0.93931  0.091475
1      hand    0.197368            4  ... -0.230930  0.93931  0.091475
2      hand    0.200000            4  ... -0.230930  0.93931  0.091475
3      hand    0.267857            4  ... -0.230930  0.93931  0.091475
4  entrance    0.000000            8  ...  0.013272  0.97305  0.454050

[5 rows x 104 columns]

In [ ]:
# get data for test
X_test = test_df_combined.drop(columns=['token', 'complexity'])
Y_test = test_df_combined['complexity']

# predict
Y_pred = lr.predict(X_test)

# test loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_test[i])
  losses.append(loss)
abl = sum(losses) / num
print("average test absolute loss is " + str(abl))

average test absolute loss is 0.07546507119733206

## 2.2 Linear regression with ELMo word embedding

In [271]:
len(elmo_embedded_word)

2400

In [272]:
elmo_bible_df = bible_df.iloc[:len(elmo_embedded_word)]

In [273]:
len(elmo_bible_df)

2400

In [274]:
elmo_embedded_df = pd.DataFrame(elmo_embedded_word)

In [275]:
elmo_embedded_df.head()

       0         1         2     ...      1021      1022      1023
0  0.380389 -0.176156 -0.314543  ...  0.821129  0.205928  0.648316
1  0.080406 -0.408230  0.158734  ... -0.680609  0.406645 -0.072077
2  0.122995 -0.255338 -0.084610  ... -0.432835  0.264197 -0.065345
3 -0.233317  0.075169  0.101757  ... -0.189591  0.507491  0.203926
4  0.045292 -0.214803  0.358676  ... -0.104712  0.049443  0.220563

[5 rows x 1024 columns]

In [276]:
elmo_bible_df_combined = pd.concat([elmo_bible_df, elmo_embedded_df], axis=1).dropna()
elmo_bible_df_combined.head(2)

                               id corpus  ...      1022      1023
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...  0.205928  0.648316
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  0.406645 -0.072077

[2 rows x 1029 columns]

In [277]:
X_elmo_train = elmo_bible_df_combined.drop(columns=['token', 'complexity', 'id', 'corpus', 'sentence'])
Y_elmo_train = elmo_bible_df_combined['complexity']

In [278]:
#train
lr = LinearRegression().fit(X_elmo_train, Y_elmo_train)

In [279]:
# predict
Y_elmo_pred = lr.predict(X_elmo_train)

In [280]:
# train loss (average absolute loss)
num = len(Y_elmo_pred)
losses = []
for i in range(num):
  loss = abs(Y_elmo_pred[i] - Y_elmo_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.06452791414804292