In [38]:
import re
import pickle
import random

import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F

import spacy
from collections import Counter
from copy import deepcopy
import math

import torchtext.vocab

import string

import nltk
from nltk.corpus import stopwords

import sklearn
from sklearn.linear_model import LinearRegression

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
# the paths; change when necessary
TRAIN_RAW = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/lcp_single_train.tsv"
TEST_RAW = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/lcp_single_test.tsv"
TRAIN = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/lcp_single_train_cleaned.tsv"
TEST = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/lcp_single_test_cleaned.tsv"

In [5]:
# read the datasets
# train
with open(TRAIN_RAW, 'r') as f:
  data = f.read()

# need to remove " from the string, otherwise parsing will have problems because some quotas are not closed 
data = data.replace('"', '')

with open(TRAIN, 'w') as f:
  f.write(data)

df = pd.read_csv(TRAIN, sep='\t')

# test
with open(TEST_RAW, 'r') as f:
  data = f.read()

data = data.replace('"', '')

with open(TEST, 'w') as f:
  f.write(data)

test = pd.read_csv(TEST, sep='\t')

In [6]:
# take a look
pd.set_option('display.max_colwidth', None) # show the whole sentence
df.head()

                               id corpus  ...     token complexity
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...     river   0.000000
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  brothers   0.000000
2  3S1WOPCJFGTJU2SGNAN2Y213N6WJE3  bible  ...  brothers   0.050000
3  3BFNCI9LYKQN09BHXHH9CLSX5KP738  bible  ...  brothers   0.150000
4  3G5RUKN2EC3YIWSKUXZ8ZVH95R49N2  bible  ...  brothers   0.263889

[5 rows x 5 columns]

In [7]:
test.head()

                               id corpus  ...     token complexity
0  3K8CQCU3KE19US5SN890DFPK3SANWR  bible  ...      hand   0.000000
1  3Q2T3FD0ON86LCI41NJYV3PN0BW3MV  bible  ...      hand   0.197368
2  3ULIZ0H1VA5C32JJMKOTQ8Z4GUS51B  bible  ...      hand   0.200000
3  3BFF0DJK8XCEIOT30ZLBPPSRMZQTSD  bible  ...      hand   0.267857
4  3QREJ3J433XSBS8QMHAICCR0BQ1LKR  bible  ...  entrance   0.000000

[5 rows x 5 columns]

DATA PREPROCESSING

In [21]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [22]:
# tokenize sentences

def tokenize(sent, token, punc, stop_words):
  """ lowercase, padded, remove stopwords and punctuations """
  # lowercase
  sent = sent.lower()
  # remove punctuation and stopwords
  sent = ''.join([c for c in sent if c not in punc]) 
  tokens = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
  # pad
  tokens.insert(0, '<s>')
  tokens.append('</s>')
  # pad the token with special symbols
  return tokens

def get_complexity_level(n):
  """ map complexity to corresponding level """
  if n < 0.2:
    return 1
  elif n < 0.4:
    return 2
  elif n < 0.6:
    return 3
  elif n < 0.8:
    return 4
  else:
    return 5

punc = string.punctuation

stop_words = set(stopwords.words('english')) 

data = df[['sentence', 'token', 'complexity']]

data['tokenized_sentence'] = data.apply(lambda row: tokenize(row['sentence'], row['token'], punc, stop_words), axis=1)
data = data.drop(columns=['sentence'])

data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      token  ...                                                                                                                     tokenized_sentence
0     river  ...                                                         [<s>, behold, came, river, seven, cattle, sleek, fat, fed, marsh, grass, </s>]
1  brothers  ...                                                                [<s>, fellow, bondservant, brothers, prophets, keep, words, book, </s>]
2  brothers  ...                  [<s>, man, lord, land, said, us, know, honest, men, leave, one, brothers, take, grain, famine, houses, go, way, </s>]
3  brothers  ...  [<s>, shimei, sixteen, sons, six, daughters, brothers, didnt, many, children, neither, family, multiply, like, children, judah, </s>]
4  brothers  ...                                                                                                        [<s>, put, brothers, far, </s>]

[5 rows x 3 columns]

In [23]:
# do a simple check
print(df.shape)
print(data.shape)

(7662, 5)
(7662, 3)

Try linear regression first.

In [24]:
def create_weights_matrix(vocab, dimension=100):
  """ create a matrix containing vectors for each word in Glove """
  matrix_len = len(vocab)
  weights_matrix = np.zeros((matrix_len, dimension))

  for i, word in enumerate(vocab):
      try: 
          weights_matrix[i] = glove[word]
      except KeyError:
          weights_matrix[i] = np.random.normal(scale=0.6, size=(emb_dim, )) # initialize a random vector
  #return torch.from_numpy(weights_matrix) # a tensor
  return weights_matrix

In [8]:
# use the Glove 6B 100d
cache_dir = "/content/gdrive/My Drive/Colab Notebooks/data"
# glove = vocab.pretrained_aliases["glove.6B.100d"](cache=cache_dir)
glove = torchtext.vocab.GloVe(name='6B', dim=100, cache=cache_dir)

In [33]:
# get all the non-unique tokens for prediction
tokens = df['token'].dropna().to_list()
tokens = [token.lower() for token in tokens] # lowercase
print(len(tokens))

# check if all tokens are in Glove
for token in tokens:
  if token not in glove.stoi:
    print("Token Not Found: ")
    print(token)

7659
Token Not Found:
perverseness
Token Not Found:
perverseness
Token Not Found:
perverseness
Token Not Found:
housetops
Token Not Found:
slanderers
Token Not Found:
plowmen
Token Not Found:
dainties
Token Not Found:
dainties
Token Not Found:
dainties
Token Not Found:
dainties
Token Not Found:
dainties
Token Not Found:
dunghill
Token Not Found:
carotids
Token Not Found:
tace

In [35]:
# create a dataframe for linear regression
train_df = pd.DataFrame(tokens, columns =['token'])

# add back complexity
train_df['complexity'] = df['complexity']

# word length
train_df['word_length'] = train_df['token'].map(lambda x: len(x))

# word frequency
# tokenize the whole curpus
temp = df['sentence'].to_list()
texts = []
for sent in temp:
  sent = sent.lower()
  sent = ''.join([c for c in sent if c not in punc])
  words = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
  texts += words
# count frequency
count = Counter(texts)
train_df['word_frequency'] = train_df['token'].map(lambda x: count[x])

train_df.head()

      token  complexity  word_length  word_frequency
0     river    0.000000            5              26
1  brothers    0.000000            8              36
2  brothers    0.050000            8              36
3  brothers    0.150000            8              36
4  brothers    0.263889            8              36

In [36]:
# create the weight matrix
weight_matrix = create_weights_matrix(tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)

train_df_combined = pd.concat([train_df, weight_matrix_df], axis=1)
train_df_combined.head()

(7659, 100)

      token  complexity  word_length  ...       97        98       99
0     river    0.000000            5  ... -0.69940  1.050600  0.24051
1  brothers    0.000000            8  ... -0.24623  0.006483 -0.21982
2  brothers    0.050000            8  ... -0.24623  0.006483 -0.21982
3  brothers    0.150000            8  ... -0.24623  0.006483 -0.21982
4  brothers    0.263889            8  ... -0.24623  0.006483 -0.21982

[5 rows x 104 columns]

In [37]:
# get data for training
X_train = train_df_combined.drop(columns=['token', 'complexity'])
Y_train = train_df_combined['complexity']

In [39]:
# train linear regression
lr = LinearRegression().fit(X_train, Y_train)

In [40]:
# predict
Y_pred = lr.predict(X_train)

In [45]:
# train loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.07246931733686796

In [47]:
# on test
test_tokens = test['token'].dropna().to_list()
test_tokens = [token.lower() for token in test_tokens] # lowercase
print(len(test_tokens))

# create a dataframe for linear regression
test_df = pd.DataFrame(test_tokens, columns =['token'])

# add back complexity
test_df['complexity'] = test['complexity']

# word length
test_df['word_length'] = test_df['token'].map(lambda x: len(x))

# word frequency
# tokenize the whole curpus
temp = test['sentence'].to_list()
texts = []
for sent in temp:
  sent = sent.lower()
  sent = ''.join([c for c in sent if c not in punc])
  words = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
  texts += words
# count frequency
count = Counter(texts)
test_df['word_frequency'] = test_df['token'].map(lambda x: count[x])

# create the weight matrix
weight_matrix = create_weights_matrix(test_tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)
test_df_combined = pd.concat([test_df, weight_matrix_df], axis=1)
test_df_combined.head()

917
(917, 100)

      token  complexity  word_length  ...        97       98        99
0      hand    0.000000            4  ... -0.230930  0.93931  0.091475
1      hand    0.197368            4  ... -0.230930  0.93931  0.091475
2      hand    0.200000            4  ... -0.230930  0.93931  0.091475
3      hand    0.267857            4  ... -0.230930  0.93931  0.091475
4  entrance    0.000000            8  ...  0.013272  0.97305  0.454050

[5 rows x 104 columns]

In [48]:
# get data for test
X_test = test_df_combined.drop(columns=['token', 'complexity'])
Y_test = test_df_combined['complexity']

# predict
Y_pred = lr.predict(X_test)

# test loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_test[i])
  losses.append(loss)
abl = sum(losses) / num
print("average test absolute loss is " + str(abl))

average test absolute loss is 0.07283375821746224